{% extends "template.html" %}
{% block conteudo %}
        <h1>SignIn</h1>
        <form method="POST" action="{{ url_for('authentication') }}">
            {{ form.csrf_token() }}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.login(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}

