<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gamelib</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %} 
        <ul id="messages" class="list-unstyled">
        {% for message in messages %}
            <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div class="bg-light py-3 min-vh-100">
        <div class="container">
        <div class="page-header">
            <header>
                <nav>
                    <ul class="d-flex gap-3">
                        <li>
                            <a class="text-color link-dark text-decoration-none" href="/home">Home</a>
                        </li>
                        <li>
                            <a class="text-color link-dark text-decoration-none" href="{{ url_for('new') }}">New game</a>
                        </li>
                        <li>
                            <a class="text-color link-dark text-decoration-none" href="{{ url_for('logout') }}">Sign-out</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        <h1 class="fs-5 mt-5">{{ title }}</h1>

        {% block conteudo %} 
        {% endblock %}

        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>